@model List<Loan>

<div class="container-fluid">
    <div class="page-header">

        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-file-text bg-dark"></i>
                    <div class="d-inline">
                        <h5> Lent USD</h5>
                        <span>Lent History</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">

                        </li>

                    </ol>
                </nav>
            </div>
        </div>

    </div>


    <!--Account Balance --><div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="widget bg-dark">
                <div class="widget-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="state">
                            <h6>Upcoming Repay_Amount(USD) if Borrower fail to repay in time</h6>
                            
                        </div>
                        <div class="icon">
                            <i class="ik ik-file-text"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!--Account Balance End -->









    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-block">
                    <h3>Repay_Amount(USD) Will be added once Borrower fail to repay in time</h3>
                </div>
                

                @{
                    int i = 0;
                }


                <div class="card-body">
                    <div class="dt-responsive">
                        <table id="table" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Borrow Date</th>
                                    <th>Borrow Amount(USD)</th>
                                    <th>Coin</th>
                                    <th>Collateral Rate(%)</th>
                                    <th>Collateral Amount</th>
                                    <th>Loan Term(days)</th>
                                    <th>Status</th>
                                    <th>Interest Rate(%)</th>
                                    <th>Repay Amount(USD)</th>
                                    <th>Time Left to Repay</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    i++;

                                <tr>
                                    <td>@i</td>
                                    <td>@item.date.ToLocalTime()</td>
                                    <td class="text-left">
                                        @item.usd USD
                                    </td>
                                    <td class="text-left">
                                        @item.coin
                                    </td>
                                    <td class="text-left">
                                        @item.cRate
                                    </td>
                                    <td class="text-left">
                                        @item.amnt
                                    </td>
                                    <td class="text-left">
                                        @item.days
                                    </td>
                                    <td>
                                        @item.status

                                    </td>
                                    <td class="text-right">@item.iRate</td>
                                    <td class="text-right">@item.rPay</td>
                                    <td class="text-right">
                                        
                                        @(item.date.AddDays(item.days).Subtract(DateTime.UtcNow).TotalDays) days
                                    </td>
                                </tr>
                                }




                            </tbody>

                        </table>
                    </div>
                </div>
            </div>


            <!-- Language - -->
        </div>
    </div>
</div>
