@model List<Trade>

    <div class="container-fluid">
        <div class="page-header">

            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-file-text bg-dark"></i>
                        <div class="d-inline">
                            <h5> Users Appeal Records</h5>
                            <span> Appeal History</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item">
                                
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>

        </div>





        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h3>Appeals</h3>
                    </div>


                    <div class="card-body">
                        <div class="dt-responsive">
                            <table id="table" class="table table-responsive-sm">
                                <thead>
                                    <tr>

                                        <th>Offer Type</th>
                                        <th>Coin</th>
                                        <th>Payment Method</th>
                                        <th>Trade Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                      

                                        <tr>

                                            <td>@item.offer.Type</td>
                                            <td class="text-left">
                                                @item.offer.Coin
                                            </td>

                                            <td class="text-left">
                                                @item.offer.PaymentMethod
                                            </td>
                                          
                                            <td>@item.Status</td>
                                            <td class="text-right">

                                                <button href="@Url.Action("Trade",new { tradeId=item.Id})" type="button" class="btn btn-outline-success">Chat</button>

                                            </td>
                                        </tr>
                                    }




                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <!-- Language - -->
            </div>
        </div>





        
    </div>
