@model List<Offer>




    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="">

                    <div class="card-body">

                        @using (Html.BeginForm(FormMethod.Get, new { @class = "" }))
                        {

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Type">You Are:</label>
                                <select class="form-control" id="Type" name="Type">
                                    <option value="Buying">Buying</option>
                                    <option value="Selling">Selling</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Coin">Select Coin</label>
                                <select class="form-control" id="Coin" name="Coin">
                                    <option value="BTC">BTC</option>
                                    <option value="ETH">ETH</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="PaymentMethod">Payment Method</label>
                                <select class="form-control" id="PaymentMethod" name="PaymentMethod">
                                    <option value="Skrill">Skrill</option>
                                    <option value="Payoneer">Payoneer</option>
                                    <option value="Paypal">Paypal</option>
                                </select>
                            </div>
                        </div>


                            <button type="submit" class="btn btn-primary mr-2">Search</button>
                        }
                    </div>

                </div>
            </div>
        </div>



    </div>

    <div class="container-fluid">
       

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    


                    


                    <div class="card-body">
                        <div class="dt-responsive">
                            <table id="table" class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Coin</th>
                                        <th>Payment Method</th>
                                        <th>Price Percentage</th>
                                        <th>Trade Limit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td class="text-left">
                                                @item.Coin
                                            </td>

                                            <td class="text-left">
                                                @item.PaymentMethod
                                            </td>
                                            <td class="text-left">
                                                @item.SetPricePercentage
                                            </td>
                                            <td class="text-left">
                                                @item.MinTradeLimit - @item.MaxTradeLimit
                                            </td>

                                            <td class="text-right">
                                                @{
                                                    var type = item.Type;
                                                    if (type == OfferType.Buying)
                                                    {
                                                        type = OfferType.Selling;
                                                    }
                                                    else
                                                    {
                                                        type = OfferType.Buying;
                                                    }
                                                }

                                                <a href="@Url.Action("CreateTrade",new { offerId=item.Id})" type="button" class="btn btn-outline-success">@type.Substring(0,4).TrimEnd('i')</a>

                                                
                                            </td>
                                        </tr>
                                    }




                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <!-- Language - -->
            </div>
        </div>
    </div>



<script>
    // Run on document ready
$(function() {

    var params = new window.URLSearchParams(window.location.search);
    var type = params.get('Type');
    if (type == null) {
        type = params.get('type');
    }
    $('[name=Type]').val(type);
    if (params.get('Coin') != null) {
        $('[name=Coin]').val(params.get('Coin'));
        $('[name=PaymentMethod]').val(params.get('PaymentMethod'));
    }
    
    console.log(params.get('Type'));
});
</script>
