@model Offer




    <div class="container-fluid">
        <div class="page-header">


            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-minus-circle bg-dark"></i>
                        <div class="d-inline">
                            <h5> You Are @Model.Type </h5>
                            <span>With @Model.Email </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item">
                                
                            </li>
                            

                        </ol>
                    </nav>
                </div>
            </div>

        </div>
        



        <div class="row">
            <div class="col-md-6">
                <div class="card" style="">
                    <div class="card-header"><h3>Create Trade</h3></div>

                    <div class="card-body">

                        @using (Html.BeginForm(FormMethod.Post, new { @class = "forms-sample" }))
                        {
                            <div style="color:red">@Html.Raw(TempData["msg"])</div>
                        <input type="hidden" name="offerId" value="@Model.Id"/>

                           

                        <div class="form-group">
                            <label for="amnt">Step 1. Enter amount for @Model.Type:</label>

                            <div class="input-group">
                                <input type="text" class="form-control" id="usd" name="usd" placeholder="USD Amount" value="" required>
                                <span class="input-group-text">@Model.LocalCurrency</span>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="amnt" name="amnt" placeholder="Coin Amount" readonly>
                                <span class="input-group-text">@Model.Coin</span>
                            </div>
                            <span>Limits: @Model.MinTradeLimit to @Model.MaxTradeLimit @Model.LocalCurrency</span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="amnt">Step 2. Click to trade</label><br />
                            <button type="submit" class="btn btn-primary mr-2">Start Trade</button>
                        </div>
                            
                        }
                    </div>

                </div>
            </div>
        </div>



    </div>

    <script>
    $('#usd').on('change keyup', function () {
        var coin = '@Model.Coin';
        if (coin == "ETH") {
            coin = "ethereum";
        } else {
            coin = "bitcoin";
        }
        $.get("https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=" + coin + "", function (data, status) {
            console.log(data[0].current_price);
            var price = data[0].current_price;
            $('#coinPrice').val(price);
            $('#cPrice').html(coin + ' price: ' + price);

            var $val = parseFloat($('#usd').val());
            console.log($val);
            var crypto = $val / price;
            console.log(crypto);
            $('#amnt').val(crypto*2);

        });

    })

     $(function () {

           
        })
    </script>




