@model List<Offer>

    <div class="container-fluid">
        <div class="page-header">

            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-file-text bg-dark"></i>
                        <div class="d-inline">
                            <h5> User Activities</h5>
                            <span>Active Trades And Offer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item">
                                <button href="@Url.Action("TradeHistory",new { })" type="button" class="btn btn-outline-danger">Trade History</button>
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>

        </div>





        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h3>Active Trades</h3>
                    </div>


                    <div class="card-body">
                        <div class="dt-responsive">
                            <table id="table" class="table table-responsive-sm">
                                <thead>
                                    <tr>

                                        <th>Offer Type</th>
                                        <th>Coin</th>
                                        <th>Payment Method</th>
                                    
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.ActiveTrades as List<Trade>)
                                    {
                                      

                                        <tr>

                                            <td>@item.offer.Type</td>
                                            <td class="text-left">
                                                @item.offer.Coin
                                            </td>

                                            <td class="text-left">
                                                @item.offer.PaymentMethod
                                            </td>
                                          

                                            <td class="text-right">

                                                <button href="@Url.Action("Trade",new { tradeId=item.Id})" type="button" class="btn btn-outline-success">Chat</button>

                                            </td>
                                        </tr>
                                    }




                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <!-- Language - -->
            </div>
        </div>





        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h3>My Offer</h3>
                    </div>




                    <div class="card-body">
                        <div class="dt-responsive">
                            <table id="table" class="table table-responsive-sm">
                                <thead>
                                    <tr>

                                        <th>Offer Type</th>
                                        <th>Coin</th>
                                        <th>Payment Method</th>
                                        <th>Price Percentage</th>
                                        <th>Trade Limit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                       

                                        <tr>

                                            <td>@item.Type</td>
                                            <td class="text-left">
                                                @item.Coin
                                            </td>

                                            <td class="text-left">
                                                @item.PaymentMethod
                                            </td>
                                            <td class="text-left">
                                                @item.SetPricePercentage
                                            </td>
                                            <td class="text-left">
                                                @item.MinTradeLimit - @item.MaxTradeLimit
                                            </td>

                                            <td class="text-right">

                                                <button href="@Url.Action("OfferIsOpenToggle",new { status=item.IsOpen,date=item.CreationTime})" type="button" class="btn btn-outline-success">@(!item.IsOpen? "Open":"Pause")</button>

                                                <button href="@Url.Action("DeleteOffer",new { date=item.CreationTime})" type="button" class="btn btn-outline-danger">Close</button>

                                            </td>
                                        </tr>
                                    }




                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <!-- Language - -->
            </div>
        </div>
    </div>
